
<section id="sobre-mi " class="about">
    <div class="container text-left mt-5">
      <div class="row">
        <div class="col-3">
          <img src="/assets/img/fotomia.png" class= "img-fluid img-thumbnail" alt="..." title="Foto">
          <h6> Martín Augusto</h6>
          <h6> Fernández Ponce</h6>
        </div>
        <div class="col-6 "> <h5>Hola mi nombre es Martín Fernández Ponce tengo 43 años, vivo en la ciudad de La Rioja. Mi familia esta compuesta por mi mujer Mercedes mi hija Camila y mi hijo Santiago.</h5>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </section>
