 
<li class="list-group-item">
  <i class="fa-solid fa-user fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#Login">
 </i>
</li> 
<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
  <div class="modal fade" id="Login" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Login">Login</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="mb-3 row">
                  <label for="staticEmail" class="form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="email" 
                 [ngClass]="{'is-invalid': Mail?.errors && Mail?.touched, 'is-valid': !Mail?.errors && Mail?.touched }" 
                 class="form-control" id="staticEmail">
                    <div *ngIf="Mail?.errors && Mail?.touched">
                  <p *ngIf="Mail?.hasError ('required')" class= "text-danger">
                    El Email es Requerido
                  </p>
                  <p *ngIf="Mail?.hasError ('email')" class= "text-danger">
                    El formato de mail debe ser valido
                  </p>
                  
                </div>
                <div class="mb-3 row">
                  <label for="inputPassword" class="form-label">Contraseña</label>
                  <div class="col-sm-10">
                    <input type="password" formControlName="password" 
                    [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched }"
                    class="form-control" id="inputPassword">
                    <div *ngIf="Password?.errors && Password?.touched">
                      <p *ngIf="Password?.hasError ('required')" class= "text-danger">
                        La Contraseña es requerida
                      </p>
                      <p *ngIf="Password?.hasError ('minlength')" class= "text-danger">
                        La contraseña tiene que tener minimo 8 caracteres
                      </p>
                      
                    </div> 
                  </div>
                </div>
          </div>
          <div class="modal-footer">
           <button type="submit" class="btn btn-dark" data-bs-dismiss="modal"> Iniciar Sesion </button>
          </div>
         </div>
          </div>
      </div>
    </div>
  </div>
    </form>
