<!-- para poner comentario alt + shift + a -->
     
<section id="Experiencia " class="experiencia">
   <div class="container text-left mt-5">
    <h3>Experiencia Laboral</h3>
     <div class="row"*ngFor="let exp of experien" >
        <div class="col-3">
         </div>
       <div class="col-6 "> 
        <h3>Empresa: {{exp.Empresa}}</h3>
            <h4>Institucion: {{exp.Puesto}} </h4>
            <h5>Fecha de Inicio: {{exp.Inicio}} Fecha Fin: {{exp.Fin}} </h5>
       </div>
       <div class="col-3"></div>
     </div>
   </div>
  </section> 
